<p>Welcome to Finalist version <%= @version %>, the final list app you'll hopefully ever need.</p>

<h3>Pro Tip:</h3>

<p>When viewing the contents of a list on mobile, you can swipe left or right to cross out the list item.  Swipe again to un-cross-out.  </p>
