<%= form_with model: [list, item], data: { turbo: true } do |f| %>
  <div class="lineitem">
    <p><%= f.label :body, "New item", for: "new_item_body" %></p>
    <%= f.text_field :body, autofocus: true, id: "new_item_body" %>
    <%= f.submit "Add" %>
  </div>
<% end %>
